.section1,
.section2,
.section3,
.section4 {
  display: flex;
  p {
    color: #7c7a7a;
  }
}
.section1 {
  margin-top: 110px;
  .about-left {
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    div {
      h1 {
        color: #3a3d46;
        text-align: left;
        font-weight: 600;
        font-size: 40px;
        padding-bottom: 30px;
      }
      p {
        max-width: 600px;
        padding-bottom: 20px;
        line-height: 36px;
      }
    }
  }
  .about-right {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    .up-row {
      padding: 8px;
      display: flex;
      img {
        padding-right: 8px;
      }
    }
    .down-row {
      margin-left: 120px;
      display: flex;
      img {
        padding-right: 8px;
      }
    }
  }
}
.section2 {
  padding-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;

  flex-direction: row;
  div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  img {
    padding: 20px;
    cursor: pointer;

    color: grey;
    &:hover {
      filter: brightness(55%);
    }
  }
  .zarn {
    padding-top: 10px;
    filter: invert(1);
    filter: brightness(55%);
    &:hover {
      filter: brightness(35%);
    }
  }
}
.section3 {
  margin: auto;
  width: 90%;
  margin-top: 70px;

  background: #f4f3f2;
  display: flex;
  justify-content: center;

  img {
    transform: scale(0.9);
  }
  div {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 35vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    h2 {
      color: #292f2f;
      transition-duration: 0.3s;
      padding-top: 25px;
      font-weight: 600;

      &:hover {
        color: #ae8875;
      }
    }
    p {
      padding-top: 15px;
      text-align: center;
      width: 80%;
    }
    a {
      color: #3a3d46;
      font-weight: 600;
    }
  }
}
.section4 {
  margin-top: 110px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .img1 {
    align-self: center;
    margin-left: -600px;
    height: 381px;
    width: 680px;
    object-fit: cover;
  }
  .img2 {
    margin-top: 100px;
    align-self: center;
    height: 381px;
    width: 680px;
    object-fit: cover;
    margin-left: 150px;
  }
  .offer {
    overflow: hidden;
    margin-left: 220px;
    height: 370px;
    width: 650px;
    background: white;
    position: absolute;
    align-self: center;

    div {
      margin-left: 60px;

      h1 {
        margin-top: 70px;
        font-size: 36px;
        color: #3a3d46;
      }

      p {
        padding-top: 25px;
        width: 80%;
        font-size: 15px;
        color: #7c7a7a;
        line-height: 28px;
      }
      button {
        cursor: pointer;
        transition-duration: 0.3s;
        margin-top: 60px;
        border: solid 1px #292f2f;
        background: transparent;
        width: 245px;
        height: 50px;

        a {
          color: #3a3d46;
          font-size: 18px;
          font-weight: 700;
        }

        &:hover {
          background: #ae8875;
          border: solid 1px #ae8875;
          a {
            transition-duration: 0.4s;
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 740px) {
  .section1 {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    .about-left {
      width: 80%;
      padding: 0;

      h1 {
        text-align: center !important;
        font-size: 32px !important;
      }
      p {
        text-align: center;
        line-height: 26px !important;
      }
    }
    .about-right {
      margin-top: -80px !important;
      padding: 0;
      margin: 0;
      transform: scale(0.55);
    }
  }
  .section2 {
    margin-top: -80px;
    padding: 0;
    align-items: center;
    flex-direction: column;
    div {
      transform: scale(0.8);
    }
  }
  .section3 {
    margin-top: 40px;
    flex-direction: column;
    div {
      padding: 30px 20px;

      width: auto;

      p {
        width: 100%;
      }
    }
  }
  .section4 {
    flex-direction: column;

    .img1 {
      width: 80%;
      height: auto;
      margin-left: -30px;
    }
    .img2 {
      width: 80%;
      height: auto;
      margin-left: 30px;
      margin-top: 300px;
    }
    .offer {
      padding: 0;
      width: 80%;
      height: 390px;
      margin: 0;
      margin-top: -25px;
      div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        h1 {
          margin: 0;
        }
      }
    }
  }
}
