<div class="section1">
  <div class="about-left">
    <div>
      <h1>O podjetju Leskor</h1>

      <p>
        Dolgoletne izkušnje obdelave lesa, odlični materiali in popolna
        predanost vsakemu projektu in vsaki stranki posebej,je recept za
        vrhunski izdelek.
      </p>
      <p>
        Strankam nudimo celovito storitev, od izmere, 3d izrisa, svetovanja,
        izdelave in na koncu strokovne vgradnje izbranega izdelka. Zadovoljne
        stranke ter estetsko in funkcionalno dovršeni izdelki so naše prvo
        pravilo.
      </p>
    </div>
  </div>
  <div class="about-right">
    <div class="up-row">
      <img
        src="https://i.imgur.com/p9JybSI.jpg"
        alt=""
        style="max-height: 140px;"
      />
      <img
        src="https://i.imgur.com/ycey3AA.jpg"
        alt=""
        style="max-height: 250px;"
      />
    </div>
    <div class="down-row">
      <img
        src="https://i.imgur.com/Sj9qGu1l.jpg"
        alt=""
        style="max-height: 210px;"
      />
      <img
        src="https://i.imgur.com/iUWAIRo.jpg"
        alt=""
        style="max-height: 140px;"
      />
    </div>
  </div>
</div>
<div class="section2">
  <div>
    <img src="../../assets/images/samsung.png" alt="" style="height: 20px;" />
    <img
      src="../../assets/images/eurogarden.png"
      alt=""
      style="height: 32px;"
    />
  </div>
  <div>
    <img src="../../assets/images/argeta.png" alt="" style="height: 31px;" />
    <img
      class="zarn"
      src="../../assets/images/zarn.png"
      alt=""
      style="height: 36px;"
    />
  </div>
</div>
<div class="section3">
  <div>
    <img src="../../assets/images/Group 28@2x.png" alt="" />
    <h2>Kontakt</h2>
    <p>
      Stranke nas lahko pokličejo ali uporabijo
      <span><a routerLink="/kontakt">obrazec</a></span> za kontakt
    </p>
  </div>
  <div>
    <img src="../../assets/images/Group 29@2x.png" alt="" />
    <h2>Naročilo</h2>
    <p>
      Strankam svetujemo pri izbiri materialov in barv, prav tako pa naredimo 3D
      izris
    </p>
  </div>
  <div>
    <img src="../../assets/images/Group 31@2x.png" alt="" />
    <h2>Izdelava</h2>
    <p>
      Izdelava pohištva in drugih izdelkov v visokotehnološko opremljeni
      proizvodnji.
    </p>
  </div>
  <div>
    <img src="../../assets/images/Group 30@2x.png" alt="" />
    <h2>Montaža</h2>
    <p>
      Po končani izdelavi pohištva sledi še strokovna montaža na vašem domu.
    </p>
  </div>
</div>
<div class="section4">
  <img class="img1" src="https://i.imgur.com/mbugKPm.jpg" alt="" />
  <img class="img2" src="https://i.imgur.com/0qhy5wEl.jpg" alt="" />
  <div class="offer">
    <div>
      <h1>Želite ponudbo ?</h1>
      <p>
        Želite ponudbo ali imate za nas vprašanje? S klikom na kontakt lahko to
        storite preko spletne strani ali po telefonu.
      </p>
      <button routerLink="/kontakt"><a>Kontakt</a></button>
    </div>
  </div>
</div>
