@import "../../../node_modules/swiper/css/swiper.css";

.section1,
.section2,
.section3,
.section4,
.section5,
.section6 {
  display: flex;
}
.section1 {
  .left {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100vh;

    align-items: center;
    img {
      position: absolute;
      z-index: -21;
      filter: brightness(60%);
      height: 100vh;
      width: auto;
    }

    h1 {
      margin-top: -320px;
      color: white;
      text-transform: uppercase;
      font-size: 56px;
      font-weight: 600;
      padding-left: 30px;
      letter-spacing: 3px;
    }
  }
  .right {
    overflow: hidden;
    display: flex;
    width: 50%;

    height: 100vh;
    background: #202020;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
      visibility: hidden;
    }
    .top {
      margin-top: 140px;
      width: 70%;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding-left: 30px;

      div {
        display: flex;
        flex-direction: row;

        p {
          color: white;
          font-size: 24px;
          padding-right: 30px;
        }
        button {
          cursor: pointer;
          transition-duration: 0.3s;

          border: solid 1px white;
          background: transparent;
          width: 190px;
          height: 50px;

          a {
            color: white;
            font-size: 18px;
            font-weight: 700;
          }

          &:hover {
            background: #ae8875;
            border: solid 1px #ae8875;
            a {
              transition-duration: 0.4s;
              color: white;
            }
          }
        }
      }
    }
    .swiper-container {
      margin: 0;

      padding-left: 180px;
      bottom: -180px;
      width: 100%;
      overflow: hidden;
      .swiper-wrapper {
        .swiper-slide {
          margin: 0 !important;
          padding: 12px;
          width: 290px !important;

          div {
            display: flex;
            flex-direction: column;
            cursor: pointer;

            img {
              //position: absolute;

              height: 210px;
            }
            div {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              background-color: #ae88758a;
              height: 50px;
              margin-top: -50px;
              opacity: 0;

              p {
                font-size: 18px;
                color: white;
              }
            }
            &:hover {
              div {
                transition-duration: 0.2s;
                opacity: 1;
                margin-top: -50px;
              }
            }
          }
        }
      }
    }
  }
}

.section2 {
  padding-left: 30px;

  justify-content: space-evenly;
  align-items: center;
  h1 {
    color: #3a3d46;
  }
  p {
    font-size: 18px;
    margin: 30px 0px;
    max-width: 450px;
    color: #7c7a7a;
  }

  img {
    margin-top: 140px;
    height: auto;
    max-width: 410px;
    transform: translate(0px, 50px);
  }
  ul {
    list-style: none;
    margin: 30px 10px;
    list-style-position: inside;
    max-width: 450px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    li {
      color: #7c7a7a;
      padding-bottom: 5px;

      list-style-type: circle red;
      &::before {
        content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #ae8875; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1.2em; /* Also needed for space (tweak if needed) */
      }
    }
  }
}

.section3 {
  background: #f4f3f2;
  padding: 0px 30px;

  justify-content: center;
  flex-direction: column;
  align-items: center;
  .tittle {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      color: #ae8875;
      font-size: 18px;
      font-weight: 600;
    }
    h1 {
      padding-top: 20px;
      color: #3a3d46;
    }
  }
  .projects {
    padding: 60px 30px;
    width: 92%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    ul {
      list-style: none;

      li {
        float: left;

        div {
          margin: 10px;

          display: flex;
          flex-direction: column;
          align-items: center;
          overflow: hidden;

          div {
            img {
              width: 28vh;
              height: auto;
              cursor: pointer;
              height: 260px;

              object-fit: cover;
              transition: ease-in-out 0.2s;
              &:hover {
                transform: scale(1.042) !important;
                transition: ease-in-out 0.2s;
              }
            }
          }

          a {
            cursor: pointer;
            margin-top: 20px;
            font-size: 18px;
            font-weight: 700;
            color: #3a3d46;

            &:hover {
              color: #ae8875;
            }
          }
        }
      }
    }
  }
}
.section4 {
  background: #f4f3f2;
  padding: 90px 30px;

  justify-content: center;
  align-items: center;

  justify-content: space-around;

  .pictures {
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    div {
      transition-duration: 0.1s;
      width: 380px;
      padding: 10px;
      &:hover {
        //margin-top: -10px;

        transform: translate(0, -10px);
      }

      img {
        width: 100%;
        height: auto;
      }
      .img2 {
        padding-top: 60px;
      }
    }
  }
}
.section5 {
  background: #f4f3f2;
  padding: 120px 40px;
  justify-content: center;

  div {
    background-color: #ae8875;
    align-items: center;

    width: 92%;
    display: flex;

    //If it looks stupid but it works, it ain't stupid
    .YOLO {
      position: absolute;
      width: 13%;
      height: 70%;
      background: #f4f3f2;
    }

    .picture {
      max-width: 1000px;
      transform: translate(0, -70px);

      img {
        width: 100%;
        height: auto;
      }
    }

    .offer {
      width: 80%;
      display: flex;
      justify-content: center;

      div {
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

        h1 {
          font-size: 60px;
          color: white;
          font-weight: 600;
        }

        p {
          font-size: 18px;
          padding-top: 30px;
          width: 90%;
          padding-bottom: 50px;
          color: white;
        }
        button {
          z-index: 10;
          cursor: pointer;
          transition-duration: 0.3s;

          border: solid 1px white;
          background: transparent;
          width: 245px;
          height: 50px;

          a {
            color: white;
            font-size: 18px;
            font-weight: 700;
          }

          &:hover {
            background: #3a3d46;
            border: solid 1px #3a3d46;
            a {
              transition-duration: 0.4s;
              color: white;
            }
          }
        }
      }
    }
  }
}

.section6 {
  background: #f4f3f2;
  justify-content: center;
  padding-bottom: 90px;

  div {
    text-align: center;
    z-index: 10;
    h1 {
      color: #3a3d46;
    }
    p {
      padding-top: 20px;
      padding-bottom: 50px;
      color: #3a3d46;
      font-size: 18px;
    }
    form {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      input {
        border: none;
        border-bottom: solid 2px #3a3d46;
        width: 100%;
        outline: none;
        background: #f4f3f2;
        padding-bottom: 20px;
      }
      button {
        outline: none;
        cursor: pointer;
        background: none;
        position: absolute;
        border: none;
        transform: translate(-20px, 0);
        a {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 1px;
        }

        &:hover {
          a {
            color: #ae8875;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1340px) {
  .top {
    margin-top: 0px !important;
  }
  .swiper-container {
    display: none;
  }
}

@media only screen and (max-width: 1280px) {
  .section1 {
    .left {
      h1 {
        font-size: 38px;
      }
    }
  }
}

@media only screen and (max-width: 740px) {
  .section1 {
    flex-direction: column;
    width: 100%;

    align-items: center;

    .left {
      z-index: -10;
      img {
        margin-top: -40px;
        filter: brightness(100%);
        width: 100%;
        object-fit: cover;
        height: 80%;
      }
      h1 {
        display: none;
      }
      position: absolute;
      width: 100%;
    }

    .right {
      width: 100%;
      height: 90vh;
      background: transparent;
      margin: 0 !important;
      .top {
        padding: 0;
        width: 90%;

        background: rgba(0, 0, 0, 0.7);
        height: 50%;

        display: flex;
        justify-content: center;

        h1 {
          visibility: visible;
          font-size: 36px;
          text-align: center;
          color: white;
        }
        div {
          flex-direction: column;
          align-items: center;
          p {
            width: 80%;
            font-size: 15px;
            padding: 0 !important;
            margin: 20px 10px;
            text-align: center;
            font-weight: 600;
          }
        }
      }
    }
  }
  .section2 {
    margin-top: 40px;
    width: 100%;
    flex-direction: column;
    padding: 0;

    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        width: 90%;
        text-align: center;
      }

      ul {
        margin-top: 0px;
      }
    }

    .right {
      display: flex;
      justify-content: center;
    }

    img {
      margin: 0;
      width: 80%;
      transform: translate(0, 0);
    }
  }
  .section3 {
    .tittle {
      margin-top: 80px;
    }
    .projects {
      padding: 20px 20px;
      flex-direction: column;

      div {
        width: 100%;
        img {
          width: 100% !important;
        }
      }
    }
  }
  .section4 {
    padding: 35px 20px;
    .pictures {
      flex-direction: column !important;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        img {
          width: 98%;
          padding: 20px 0 !important;
          margin: 0 !important;
        }
      }
    }
  }

  .section5 {
    padding: 50px 20px;
    div {
      background: none;
      flex-direction: column;
      .YOLO {
        display: none;
      }
      .picture {
        z-index: 2;
        transform: translate(0px, 0);
      }
      .offer {
        width: 88%;
        background: #ae8875;
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          h1 {
            text-align: center;
            padding-top: 20px;
            font-size: 40px !important;
            line-height: 40px;
          }
          p {
            width: 100%;
            text-align: center;
            font-size: 16px !important;
          }

          button {
            width: 140px !important;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  .section6 {
    p {
      font-size: 16px !important;
    }
    padding: 50px 30px;
    div {
      z-index: 1;
    }
  }
}
