<div class="section1">
  <div class="left">
    <img src="https://i.imgur.com/GbLE0MX.jpg" alt="" />
    <h1>
      Pohištvo po meri <br />
      najvišje kakovosti
    </h1>
  </div>
  <div class="right">
    <div class="top">
      <h1>
        Pohištvo po meri najvišje kakovosti
      </h1>
      <div>
        <p>
          Izdelujemo pohištvo po meri za stanovanja, stavbno pohištvo in
          pohištvo za poslovne prostore.
        </p>
        <button routerLink="/kontakt"><a>Kontakt</a></button>
      </div>
    </div>

    <div class="swiper-container">
      <swiper [config]="config">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div [routerLink]="['/projekti', 'stopnice']">
              <img src="https://i.imgur.com/Sj9qGu1.jpg" alt="" />
              <div>
                <p>
                  Stopnice
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div [routerLink]="['/projekti', 'kopalnica']">
              <img src="https://i.imgur.com/p9JybSI.jpg" alt="" />
              <div>
                <p>
                  Kopalnice
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div [routerLink]="['/projekti', 'kuhinja']">
              <img src="https://i.imgur.com/ycey3AA.jpg" alt="" />
              <div>
                <p>
                  Kuhinje
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div [routerLink]="['/projekti', 'spalnica']">
              <img src="https://i.imgur.com/iUWAIRo.jpg" alt="" />
              <div>
                <p>
                  Spalnice
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide"></div>
        </div>
      </swiper>
    </div>
  </div>
</div>
<div class="section2">
  <div class="left">
    <h1>Zakaj izbrati nas ?</h1>
    <p>
      Specializirani smo za načrtovanje, oblikovanje in izdelavo kakovostnega in
      funkcionalnega pohištva po meri.
    </p>
    <ul>
      <li>Kuhinje in Jedilnice</li>
      <li>Otroške sobe</li>
      <li>Stavbno pohištvo</li>
      <li>Kopalnice</li>
      <li>Poslovne prostore</li>
      <li>Garderobne sobe</li>
      <li>Dnevne sobo</li>
      <li>Spalnice</li>
      <li>Ostalo pohištvo</li>
    </ul>
  </div>
  <div class="right"><img src="https://i.imgur.com/AQ4WJS3.jpg" alt="" /></div>
</div>
<div class="section3">
  <div class="tittle">
    <h2>ZADNJI PROJEKI</h2>
    <h1>
      Od načrta, izdelave <br />
      do montaže
    </h1>
  </div>
  <div class="projects">
    <ul>
      <ng-container *ngFor="let item of items | async"
        ><li class="item" *ngIf="item.featured">
          <div>
            <div>
              <img src="{{ item.picture }}" alt="" (click)="openDialog(item)" />
            </div>

            <a (click)="openDialog(item)">{{ item.name }}</a>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="section4">
    <div class="pictures">
      <div>
        <img src="https://i.imgur.com/IFPFlt9.jpg" alt="" class="img1" />
      </div>
      <div>
        <img src="https://i.imgur.com/WGWokf8.jpg" alt="" class="img2" />
      </div>
      <div>
        <img src="https://i.imgur.com/LbnOor2.jpg" alt="" class="img1" />
      </div>
      <div>
        <img src="https://i.imgur.com/vQvOnMH.jpg" alt="" class="img2" />
      </div>
    </div>
  </div>
  <div class="section5">
    <div>
      <div class="YOLO"></div>
      <div class="picture">
        <img src="https://i.imgur.com/ycey3AA.jpg" alt="" />
      </div>
      <div class="offer">
        <div class>
          <h1>Želite ponudbo?</h1>
          <p>
            Želite ponudbo, imate za nas vprašanje? S klikom na kontakt lahko to
            storite preko spletne strani ali po telefonu.
          </p>
          <button routerLink="/kontakt"><a>Kontakt</a></button>
        </div>
      </div>
    </div>
  </div>

  <div class="section6">
    <div>
      <h1>Prijavite se na e-novice</h1>
      <p>Vsebujejo novosti in informacije o aktualnih akcijah.</p>

      <form (submit)="onSubmit(emailref.value)">
        <input
          type="text"
          class="form-control"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          id="email"
          name="email"
          ngModel
          #emailref="ngModel"
        />

        <button *ngIf="emailref.errors" disabled>
          <a>Prijavi</a>
        </button>

        <button *ngIf="!emailref.errors">
          <a>Prijavi</a>
        </button>
      </form>
      <div *ngIf="emailref.errors && (emailref.touched || emailref.dirty)">
        <div [hidden]="!emailref.errors?.pattern">
          <p>Neveljavni e-mail</p>
        </div>
      </div>
      <p>{{ emailInfo }}</p>
    </div>
  </div>
  <div class="section7">
    <!--Instagram-->
  </div>
</div>
