<div>
  <h1>Politika varovanja osebnih podatkov</h1>

  <h3>Splošno</h3>
  <p>
    LESKOR, ROK ŠKULJ S.P., Veliko Mraševo 33, 8312, Podbočje (v nadaljevanju:
    Ponudnik) se zavezuje, da bo varoval zaupnost osebnih podatkov in zasebnost
    uporabnikov spletnih strani. Zbrane osebne podatke bo Ponudnik uporabljal
    izključno za opravljanje storitev, ki jih ponuja. Ponudnik spoštuje zaupnost
    osebnih podatkov in zasebnost uporabnikov spletnih strani, zato bo storil
    vse potrebno, da jih zaščiti pred kakršnimikoli kršitvami in zlorabami.
    Osebni podatki uporabnikov so eno izmed področij, kateremu Ponudnik posveča
    izredno skrb in pozornost, saj se zaveda občutljive narave tega področja.
  </p>
  <h3>Uporaba osebnih podatkov</h3>
  <p>
    Ponudnik za potrebe opravljanja storitev, ki jih ponuja, zbira, vodi,
    obdeluje in shranjuje največ naslednje uporabnikove podatke:
  </p>
  <ul>
    <li>ime in priimek,</li>
    <li>e-poštni naslov,</li>
    <li>telefonska številka,</li>
    <li>
      druge podatke, ki jih uporabnik prostovoljno vnese v obrazce v spletnih
      straneh,
    </li>
    <li>
      druge podatke, ki jih uporabnik prostovoljno doda naknadno v svojem
      profilu (če spletna stran to funkcionalnost omogoča).
    </li>
  </ul>
  <p>
    Za pravilnost, popolnost in ažurnost podatkov, ki jih vnesejo uporabniki,
    Ponudnik ne odgovarja.
  </p>
  <h3>Nameni obdelave osebnih podatkov</h3>
  <p>Ponudnik bo osebne podatke obdeloval v naslednje namene:</p>
  <ul>
    <li>
      Za komunikacijo z uporabnikom glede oddanih povpraševanj po izdelkih oz. v
      primeru vprašanj uporabnikov. V ta namen bo Ponudnik osebne podatke hranil
      tako dolgo, dokler so ti potrebni za komunikacijo s stranko.
    </li>
    <li>
      Za pošiljanje občasnih e-novic o aktualnih dogodkih in ponudbah, o
      promocijski ponudbi in o ostalih zadevah, ki bi uporabnika morebiti
      zanimale. Ponudnik bo osebne podatke za te namene hranil samo ob
      eksplicitnemu in nedvoumnemu predhodnemu soglasju uporabnika. Osebne
      podatke bo hranil do preklica, ki ga uporabnik lahko poda s poslanim
      sporočilom na e-naslov info@leskor.si.
    </li>
  </ul>
  <h3>Pravice uporabnika</h3>
  <p>Uporabnik lahko kadarkoli zahteva:</p>
  <ul>
    <li>
      Odjavo od prejemanja e-novic (v kolikor jih prejema) s klikom na povezavo
      v prejetem e-sporočilu. Po odjavi bo Ponudnik podatke izbrisal v kolikor
      jih ne potrebuje za druge namene s katerimi se je uporabnik predhodno
      strinjal ali jih Ponudnik hrani na podlagi drugih pravnih podlag.
    </li>
    <li>
      Popravek svojih osebnih podatkov s posredovanjem pisne zahteve na naslov
      info@leskor.si.
    </li>
    <li>
      Trajen izbris osebnih podatkov, ki jih Ponudnik hrani in/ali obdeluje, s
      posredovanjem pisne zahteve na naslov info@leskor.si.
    </li>
    <li>
      Izvoz in vpogled do osebnih podatkov, ki jih Ponudnik hrani in/ali
      obdeluje, s posredovanjem pisne zahteve na naslov info@leskor.si.
    </li>
  </ul>
  <h3>
    Izjava o varovanju zaupnosti osebnih podatkov in zasebnosti uporabnikov
  </h3>
  <p>
    Ponudnik je v skladu s predpisi, ki urejajo varstvo osebnih podatkov,
    zavezan k varovanju osebnih podatkov uporabnikov njegovih spletnih strani.
    Ponudnik ne bo pod nobenim pogojem brez izrecnega dovoljenja uporabnika
    posredoval osebnih oz. drugih podatkov uporabnika tretji osebi oz. ne bo
    omogočil tretji osebi, da vpogleda v osebne oz. druge podatke uporabnika,
    razen:
  </p>
  <ul>
    <li>
      pogodbenim obdelovalcem, ki za upravljavca izvajajo podporo za obdelavo
      osebnih podatkov za posamezne namene, za katere je bila podana privolitev,
    </li>
    <li>če bi to od njega zahtevale državne oblasti,</li>
    <li>če je taka obveznost določena v zakonu,</li>
    <li>
      ali v dobri veri, da je tako ukrepanje potrebno za postopke pred sodišči
      ali drugimi državnimi organi ter za zaščito in uresničevanje zakonitih
      interesov Ponudnika.
    </li>
  </ul>
  <p>
    Vsi osebni in drugi podatki, ki jih bo uporabnik posredoval ob prijavi v
    spletne strani, kot tudi ob morebitnem naročilu nakupa izdelkov, vključno z
    vsebino naročil, bodo varovani v skladu s predpisi, ki urejajo varstvo
    osebnih podatkov. Ponudnik teh podatkov ne bo uporabil v namen, ki bi
    kakorkoli škodoval uporabniku ali drugi vpleteni osebi, razen v namene, ki
    jih uporabnik eksplicitno in nedvoumno predhodno dovoli. Ponudnik podatkov
    uporabnikov ne bo uporabil za pošiljanje promocijske e-pošte ali drugega
    nezaželenega promocijskega materiala, razen za pošiljanje tistih
    promocijskih obvestil, na katere se bo uporabnik naročil oz. s katerimi bo
    predhodno soglašal. Ponudnik lahko podatke v anonimizirani sumarni obliki
    uporabi za namene statističnih analiz. Zaupnost osebnih in drugih podatkov
    uporabnikov ne bo kršena v nobeni obliki.
  </p>
  <p>
    Dostavni službi (npr. Pošta Slovenije, DHL, UPS ipd.) bo Ponudnik zaupal le
    potrebne podatke za dostavo v spletni strani (spletni trgovini) kupljenih
    izdelkov (podatki o prejemniku in naslov za dostavo). Prek elektronske pošte
    bo Ponudnik stopil v stik z uporabnikom, če bo to potrebno za izvedbo nakupa
    v spletni strani (spletni trgovini), prek kontaktne telefonske številke pa
    le, če bo v postopku registracije oz. nakupa v spletni strani (spletni
    trgovini) prišlo do težav.
  </p>
  <h3>Izvajanje politike zasebnosti</h3>
  <p>
    Vse pri Ponudniku redno ali honorarno zaposlene osebe, ki imajo dostop do
    osebnih in drugih podatkov uporabnikov, so seznanjene z dolžnostjo varovanja
    osebnih in drugih podatkov in so dolžne upoštevati ta določila o varovanju
    zaupnosti osebnih podatkov in zasebnosti uporabnikov spletne strani (spletne
    trgovine). Dolžnost varovanja osebnih in drugih podatkov velja časovno
    neomejeno, tudi po prenehanju razmerja s Ponudnikom.
  </p>
  <p>
    Registrirani uporabniki lahko kadarkoli prenehajo uporabljati spletno stran
    (spletno trgovino) in lahko prekličejo svojo registracijo. To storijo tako,
    da s pisno izjavo Ponudniku sporočijo preklic registracije. Pred podajo
    izjave o preklicu registracije mora uporabnik Ponudniku poravnati vse še
    neporavnane obveznosti iz naslova opravljenih nakupov v spletni strani
    (spletni trgovini). Ponudnik bo zaupnost osebnih podatkov in zasebnost
    uporabnikov spletne trgovine v okviru te politike zasebnosti varoval tudi v
    primeru preklica registracije.
  </p>
</div>
