div {
  margin: auto;
  max-width: 1710px;
  margin-bottom: 40px;
  h1 {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  p {
    padding-top: 20px;
    padding-left: 20px;
  }
  h3 {
    padding: 10px;
    padding-top: 30px;
  }
  ul {
    padding: 5px 30px;
    list-style-position: inside;
  }
}
