<div class="header home" *ngIf="router.url === '/'">
  <div class="nav">
    <ul>
      <li>
        <a
          href=""
          routerLink="/"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          >Domov</a
        >
      </li>
      <li>
        <a href="" routerLink="/o-nas" routerLinkActive="active-link">O nas</a>
      </li>
      <li>
        <a
          href=""
          [routerLink]="['/projekti', 'vsi']"
          routerLinkActive="active-link"
          >Projekti</a
        >
      </li>
      <li>
        <a href="" routerLink="/galerija" routerLinkActive="active-link"
          >Galerija</a
        >
      </li>
      <li>
        <a href="" routerLink="/kontakt" routerLinkActive="active-link"
          >Kontakt</a
        >
      </li>
    </ul>
  </div>
  <div class="header-row">
    <div class="logo">
      <svg
        routerLink=""
        xmlns="http://www.w3.org/2000/svg"
        width="185"
        height="50"
        viewBox="0 0 185 50"
      >
        <g id="Group_24" data-name="Group 24" transform="translate(-92 -46)">
          <text
            id="LESKOR"
            transform="translate(126 83)"
            fill="#fff"
            font-size="37"
            font-family="Nunito-Regular, Nunito"
            letter-spacing="0.06em"
          >
            <tspan x="0" y="0">LESKOR</tspan>
          </text>
          <g id="Group_1" data-name="Group 1" transform="translate(92 51.685)">
            <path
              id="Path_2"
              data-name="Path 2"
              d="M388.685,195.733h12.469v4.19h-19.71V164h7.241Z"
              transform="translate(-381.444 -164)"
              fill="#fcfcfc"
            />
            <path
              id="Path_3"
              data-name="Path 3"
              d="M416.862,164l-10.619,18.018,10.539,17.9H408.9l-10.217-17.9L409.058,164Z"
              transform="translate(-385.314 -164)"
              fill="#ae8875"
            />
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>
<div class="header" *ngIf="router.url !== '/'">
  <img src="../assets/images/437665.jpg" alt="" />
  <div class="page-title" *ngIf="router.url !== '/'">
    <p>
      <span><a routerLink="/">DOMOV</a></span> >
      <span style="text-transform: uppercase;">{{
        router.url.replace("/", "").split("/")[0]
      }}</span>
    </p>
    <h2 style="text-transform: capitalize;">
      {{ router.url.replace("/", "").split("/")[0] }}
    </h2>
  </div>
  <div class="header-row">
    <div class="logo">
      <svg
        routerLink=""
        xmlns="http://www.w3.org/2000/svg"
        width="185"
        height="50"
        viewBox="0 0 185 50"
      >
        <g id="Group_24" data-name="Group 24" transform="translate(-92 -46)">
          <text
            id="LESKOR"
            transform="translate(126 83)"
            fill="#3A3D46"
            font-size="37"
            font-family="Nunito-Regular, Nunito"
            letter-spacing="0.06em"
          >
            <tspan x="0" y="0">LESKOR</tspan>
          </text>
          <g id="Group_1" data-name="Group 1" transform="translate(92 51.685)">
            <path
              id="Path_2"
              data-name="Path 2"
              d="M388.685,195.733h12.469v4.19h-19.71V164h7.241Z"
              transform="translate(-381.444 -164)"
              fill="#3A3D46"
            />
            <path
              id="Path_3"
              data-name="Path 3"
              d="M416.862,164l-10.619,18.018,10.539,17.9H408.9l-10.217-17.9L409.058,164Z"
              transform="translate(-385.314 -164)"
              fill="#ae8875"
            />
          </g>
        </g>
      </svg>
    </div>

    <div class="nav nav-right">
      <ul>
        <li>
          <a
            href=""
            routerLink="/"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Domov</a
          >
        </li>
        <li>
          <a href="" routerLink="/o-nas" routerLinkActive="active-link"
            >O nas</a
          >
        </li>
        <li>
          <a
            href=""
            [routerLink]="['/projekti', 'vsi']"
            routerLinkActive="active-link"
            >Projekti</a
          >
        </li>
        <li>
          <a href="" routerLink="/galerija" routerLinkActive="active-link"
            >Galerija</a
          >
        </li>
        <li>
          <a href="" routerLink="/kontakt" routerLinkActive="active-link"
            >Kontakt</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mobile-header">
  <div class="logo">
    <svg
      routerLink=""
      xmlns="http://www.w3.org/2000/svg"
      width="185"
      height="50"
      viewBox="0 0 185 50"
    >
      <g id="Group_24" data-name="Group 24" transform="translate(-92 -46)">
        <text
          id="LESKOR"
          transform="translate(126 83)"
          fill="#3A3D46"
          font-size="37"
          font-family="Nunito-Regular, Nunito"
          letter-spacing="0.06em"
        >
          <tspan x="0" y="0">LESKOR</tspan>
        </text>
        <g id="Group_1" data-name="Group 1" transform="translate(92 51.685)">
          <path
            id="Path_2"
            data-name="Path 2"
            d="M388.685,195.733h12.469v4.19h-19.71V164h7.241Z"
            transform="translate(-381.444 -164)"
            fill="#3A3D46"
          />
          <path
            id="Path_3"
            data-name="Path 3"
            d="M416.862,164l-10.619,18.018,10.539,17.9H408.9l-10.217-17.9L409.058,164Z"
            transform="translate(-385.314 -164)"
            fill="#ae8875"
          />
        </g>
      </g>
    </svg>
    <div class="mobile-menu-toggle">
      <button
        class="hamburger hamburger--emphatic   "
        type="button"
        (click)="onClick()"
        [ngClass]="isActive ? 'is-active' : ''"
      >
        <span class="hamburger-box  ">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="mobile-nav" [ngClass]="isActive ? 'm-active' : ''">
    <div class="shadow" (click)="onClick()"></div>
    <ul>
      <li>
        <a
          href=""
          routerLink="/"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="onClick()"
          >Domov</a
        >
      </li>
      <li>
        <a
          href=""
          routerLink="/o-nas"
          routerLinkActive="active-link"
          (click)="onClick()"
          >O nas</a
        >
      </li>
      <li>
        <a
          href=""
          [routerLink]="['/projekti', 'vsi']"
          routerLinkActive="active-link"
          (click)="onClick()"
          >Projekti</a
        >
      </li>
      <li>
        <a
          href=""
          routerLink="/galerija"
          routerLinkActive="active-link"
          (click)="onClick()"
          >Galerija</a
        >
      </li>
      <li>
        <a
          href=""
          routerLink="/kontakt"
          routerLinkActive="active-link"
          (click)="onClick()"
          >Kontakt</a
        >
      </li>
    </ul>
  </div>

  <div class="page-title-bar" *ngIf="router.url !== '/'">
    <p>
      <span><a routerLink="/">DOMOV</a></span> >
      <span style="text-transform: uppercase;">{{
        router.url.replace("/", "")
      }}</span>
    </p>
    <h2 style="text-transform: capitalize;">
      {{ router.url.replace("/", "") }}
    </h2>
  </div>
</div>
<div class="content"><router-outlet></router-outlet></div>

<div class="footer">
  <div class="footer-div">
    <div class="footer-left">
      <svg
        routerLink=""
        xmlns="http://www.w3.org/2000/svg"
        width="120"
        height="40"
        viewBox="0 0 185 50"
      >
        <g id="Group_24" data-name="Group 24" transform="translate(-92 -46)">
          <text
            id="LESKOR"
            transform="translate(126 83)"
            fill="#3A3D46"
            font-size="37"
            font-family="Nunito-Regular, Nunito"
            letter-spacing="0.06em"
          >
            <tspan x="0" y="0">LESKOR</tspan>
          </text>
          <g id="Group_1" data-name="Group 1" transform="translate(92 51.685)">
            <path
              id="Path_2"
              data-name="Path 2"
              d="M388.685,195.733h12.469v4.19h-19.71V164h7.241Z"
              transform="translate(-381.444 -164)"
              fill="#3A3D46"
            />
            <path
              id="Path_3"
              data-name="Path 3"
              d="M416.862,164l-10.619,18.018,10.539,17.9H408.9l-10.217-17.9L409.058,164Z"
              transform="translate(-385.314 -164)"
              fill="#ae8875"
            />
          </g>
        </g>
      </svg>
      <p>
        ©
        <span><a href="" style="font-weight: 700;color: #000;">Leskor</a></span>
        2020.
      </p>
    </div>
    <div class="footer-right">
      <ul class=" footer-nav">
        <li>
          <a routerLink="/o-nas" routerLinkActive="router-link-active">O NAS</a>
        </li>
        <li><a routerLink="/kontakt" href="">KONTAKT</a></li>
        <li><a routerLink="/zaposlitev">ZAPOSLITEV</a></li>
        <li><a routerLink="/zasebnost">ZASEBNOST</a></li>
      </ul>
    </div>
  </div>
</div>
