.content {
  min-height: 55vh;
}

.mobile-header {
  display: none;
}
svg {
  outline: none;
  cursor: pointer;
}
.home {
  height: auto !important;
  .nav {
    z-index: 20;
    padding-top: 65px;
    position: absolute !important;
    ul {
      padding-left: 90px;
      list-style: none;

      li {
        float: left;
        margin-right: 35px;
        a {
          color: white;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
}
.header {
  img {
    object-fit: cover;
    width: 100%;

    z-index: -10;
  }
  height: 350px;
  display: flex;
  justify-content: center;

  .header-row {
    position: absolute;
    max-width: 1710px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 50px;

    .logo {
      display: flex;
      margin-left: 30px;
    }
    .nav {
      align-self: center;
      margin: auto;

      ul {
        padding-left: 90px;
        list-style: none;

        li {
          float: left;
          margin-right: 35px;
          a {
            color: white;
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
    }
    .nav-right {
      margin: 0px !important;
      ul {
        li {
          a {
            color: #40434b;
          }
        }
      }
    }
  }
}

.footer {
  height: 160px;
  background: #f4f3f2;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-div {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1710px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 14px;
    }
  }
  .footer-nav {
    li {
      list-style: none;
      float: left;
      padding-left: 35px;
      a {
        font-size: 12px;
        color: #3a3d46;
      }
    }
  }
}
.page-title {
  padding-top: 180px;
  position: absolute;
  text-align: center;
  span {
    padding: 0 7px;
  }

  a {
    font-size: 14px;
    color: #7c7a7a;
  }
  h2 {
    padding-top: 12px;
    font-size: 42px;
    color: #3a3d46;
  }
  p {
    font-size: 14px;
    color: #3a3d46;
  }
}

.active-link {
  color: #ae8875 !important;
}

.mobile-header {
  .mobile-nav {
    height: 100%;
    width: 100%;
    z-index: 10;
    transition-duration: 0.3s;
    position: fixed;
    left: -100%;

    ul {
      width: 240px;
      height: 100%;
      background: white;
      margin-top: 65px;
      box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.1);
      list-style-type: none;
      li {
        border-bottom: #7c7a7a solid 0.5px;
        padding: 20px;
        a {
          color: #3a3d46;
          font-weight: 600;
        }
      }
    }
  }

  .logo {
    z-index: 20;
    position: fixed;
    background: white;
    width: 100%;
    box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
  }
  .page-title-bar {
    padding-top: 65px;
    height: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #dfdad6;

    a {
      color: #7c7a7a;
    }

    p {
      font-size: 12px;
      color: #3a3d46;
    }
    span {
      padding: 0 7px;
    }
    h2 {
      padding-top: 12px;
      font-size: 30px;
      color: #3a3d46;
    }
  }
  .shadow {
    z-index: -10;
    width: 100%;
    height: 100%;

    position: absolute;
  }

  button {
    outline: none;
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 740px) {
  .header {
    display: none;
  }
  .mobile-header {
    display: block;

    .logo {
      outline: none;
    }

    svg {
      padding: 15px;
      height: 38px;
      width: auto;
    }
  }

  .footer-div {
    padding: 0 !important;
    width: 100%;
    flex-direction: column;
    justify-content: center !important;
    .footer-left {
      svg {
        width: 150px;
      }
      padding-bottom: 10px;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .footer-right {
      .footer-nav {
        display: flex;
        justify-content: center;

        text-align: center;

        li {
          padding: 0 !important;

          margin: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .header {
    background-color: #dfdad6;
    img {
      visibility: hidden !important;
    }
  }
}

.m-active {
  transition-duration: 0.3s;
  left: 0px !important;
}
