<div class="dialog">
  <div class="left">
    <img src="{{ picture }}" alt="" />
  </div>
  <div class="right">
    <ul>
      <li *ngFor="let data of data.pictures">
        <img src="{{ data }}" alt="" (click)="setPicuture(data)" />
      </li>
    </ul>
  </div>
</div>
