p {
  text-align: center;

  font-size: 18px;
  font-weight: 700;
  color: #3a3d46;
}
.dialog {
  margin-top: 20px;
  // background: cyan;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;

  .left {
    width: 640px;
    //background: red;
    display: flex;
    flex-direction: column;
    //height: 60vh;

    align-items: center;
    width: 100%;

    img {
      object-fit: contain;
      max-width: 90%;
      max-height: 60vh;
    }
  }

  .right {
    display: flex;
    justify-content: center;

    ul {
      margin-top: 20px;
      list-style: none;

      li {
        float: left;

        img {
          cursor: pointer;
          width: 130px;
          align-content: center;
          padding: 6px;
          height: 100px;
          object-fit: cover;
        }
      }
    }
  }
}
@media only screen and (max-width: 740px) {
  .dialog {
    margin-top: 20px;
    flex-direction: column !important;

    .left {
      padding: 0;
      max-width: 640px;
      height: auto;
      flex-direction: column;
      img {
        width: 100% !important;
        max-width: 100% !important;
        height: auto;
      }
    }
    .right {
      width: 100%;
      ul {
        margin-top: 20px;
        list-style: none;

        li {
          float: left;

          img {
            width: 110px;
            align-content: center;
            padding: 5px;
            height: 80px;
            object-fit: cover;
          }
        }
      }
    }
  }
}
