.contact {
  display: flex;
  flex-direction: row;

  .contact-left {
    margin: 0 30px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex: 1;

    h2 {
      font-size: 12px;
      color: #ae8875;
    }
    h1 {
      padding: 15px 0;
      font-size: 26px;
      color: #3a3d46;
    }
    h3 {
      font-size: 16px;
      color: #3a3d46;
    }
    p {
      font-weight: 600;
      font-size: 16;
      color: #7c7a7a;
      padding-left: 20px;
    }

    .contact-info {
      padding-top: 20px;
      padding-left: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .contact-right {
    padding-top: 60px;
    display: flex;
    flex: 1.3;

    .form-container {
      width: 100%;
      input {
        font-size: 18px;
        font-weight: 600;
        margin: 15px 0;
        padding: 10px 0;
        border: 0;
        border-bottom: 1px solid black;

        width: 70%;
        outline: none;
      }
      textarea {
        border: 0;
        border-bottom: 1px solid black;
        width: 80%;
        height: 280px;
        margin: 15px 0;
        outline: none;
        font-size: 18px;
        font-weight: 600;
      }

      button {
        transition-duration: 0.3s;
        font-size: 15px;
        font-weight: 600;
        background-color: #222222;
        height: 50px;
        width: 165px;
        color: white;
        border: none;
        margin-top: 15px;
        margin-bottom: 50px;
        &:hover {
          background: #ae8875;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
  .contact-left {
    padding-top: 50px !important;
  }
  .contact-right {
    display: flex;
    align-items: center;
    padding-top: 50px !important;

    .form-container {
      width: 100%;
      margin: 18px;
      input {
        margin: 10px 0 !important;
        width: 100% !important;
      }
      textarea {
        margin: 10px 0 !important;
        width: 100% !important;
      }
    }
  }
}
