<div class="contact">
  <div class="contact-left">
    <div>
      <h2 class="h2">KONTAKT</h2>
      <h1 class="h1">
        INFORMACIJE
      </h1>
      <div class="contact-info">
        <h3 class="h3">Naslov:</h3>
        <p>
          Veliko Mraševo 33, 8312, Podbočje, <br />
          Slovenija
        </p>
      </div>
      <div class="contact-info">
        <h3 class="h3">Telefon:</h3>
        <p>040-571-129</p>
      </div>

      <div class="contact-info">
        <h3 class="h3">E-mail:</h3>
        <p>leskor.pohistvo@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="contact-right">
    <div class="form-container">
      <form name="contact" method="POST" data-netlify="true">
        <input type="hidden" name="form-name" value="contact" />
        <p class="p11">
          <input type="text" name="name" lable="test" placeholder="Vaše ime" />
        </p>
        <p class="p22">
          <input type="email" name="email" placeholder="Email" />
        </p>
        <p><input type="text" name="subject" placeholder="Zadeva" /></p>
        <p><textarea name="message" placeholder="Vaše sporočilo"></textarea></p>
        <p><button class="input_button" type="submit">POŠLJI</button></p>
      </form>
    </div>
  </div>
</div>
