<div class="container">
  <div class="filter">
    <input
      name="vsi"
      ng-control="vsi"
      [value]="'vsi'"
      type="radio"
      [(ngModel)]="filterdata"
      checked="checked"
    />
    <label [routerLink]="['../vsi']"> Vsi</label>
    <input
      name="kuhinja"
      ng-control="kuhinja"
      [value]="'kuhinja'"
      type="radio"
      [(ngModel)]="filterdata"
    />
    <label [routerLink]="['../kuhinja']"> Kuhinje</label>
    <input
      name="stopnice"
      ng-control="stopnice"
      [value]="'stopnice'"
      type="radio"
      [(ngModel)]="filterdata"
    />
    <label [routerLink]="['../stopnice']"> Stopnice</label>
    <input
      name="kopalnica"
      ng-control="kopalnica"
      [value]="'kopalnica'"
      type="radio"
      [(ngModel)]="filterdata"
    />
    <label [routerLink]="['../kopalnica']"> kopalnica</label>
    <input
      name="otroska-soba"
      ng-control="otroska-soba"
      [value]="'otroska-soba'"
      type="radio"
      [(ngModel)]="filterdata"
    />
    <label [routerLink]="['../otroska-soba']"> Otroške sobe</label>
    <input
      name="spalnica"
      ng-control="spalnica"
      [value]="'spalnica'"
      type="radio"
      [(ngModel)]="filterdata"
    />
    <label [routerLink]="['../spalnica']"> Spalnice</label>
  </div>

  <ul>
    <ng-container *ngFor="let item of items | async"
      ><li class="item" *ngIf="item.category === filterdata">
        <div>
          <div>
            <img src="{{ item.picture }}" alt="" (click)="openDialog(item)" />
          </div>

          <a (click)="openDialog(item)">{{ item.name }}</a>
        </div>
      </li>
      <li class="item" *ngIf="filterdata === 'vsi'">
        <div>
          <div>
            <img src="{{ item.picture }}" alt="" (click)="openDialog(item)" />
          </div>
          <a (click)="openDialog(item)">{{ item.name }}</a>
        </div>
      </li></ng-container
    >
  </ul>
</div>
