.container {
  display: flex;
  flex-direction: column;

  max-width: 1710px;
  margin: auto;
  padding: 30px;
  .filter {
    margin: auto;
    label {
      padding: 10px;
      outline: none;
      color: #3a3d46;
      font-weight: 700;

      cursor: pointer;
    }

    input:checked + label {
      color: #ae8875;
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }

  ul {
    list-style: none;
    li {
      padding: 30px;
      float: left;
      div {
        height: 304px;
        width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
          cursor: pointer;
          overflow: hidden;
          height: 260px;
          width: 280px;
          object-fit: cover;
          transition: ease-in 0.2s;

          &:hover {
            transform: scale(1.042) !important;
            transition: ease-in-out 0.2s;
          }
        }
        a {
          cursor: pointer;
          margin-top: 20px;
          font-size: 18px;
          font-weight: 700;
          color: #3a3d46;

          &:hover {
            color: #ae8875;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 740px) {
  .container {
    padding: 0;
    margin-bottom: 50px;

    .filter {
      margin: 20px;
      text-align: center;
    }

    ul {
      li {
        padding: 20px 0;

        width: 100%;
        div {
          width: 100%;
          img {
            width: 80%;
          }
        }
      }
    }
  }
}
