/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap");
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
* {
  text-decoration: none;
  margin: 0;
  padding: 0px;
  font-family: "Nunito";
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@media only screen and (max-width: 600px) {
  .cdk-overlay-pane {
    width: 85vw !important;
    overflow: scroll !important;
    height: 65vh;
  }
}
